<%= content_tag :p, notice, class: "text-success text-center" if notice.present? %>

<div id="assemblies_parts" class="mt-3 d-flex flex-column align-items-center">
  <h1 class="text-center">Peças de Montagens</h1>
  <br>
  <%= link_to "Nova peça de montagem", new_assemblies_part_path, class: "btn btn-primary mt-3" %>

  <% @assemblies_parts.each do |assemblies_part| %>
    <%= render "assemblies_part", assemblies_part: assemblies_part %>
    <p>
      <%= link_to "Mostrar esta peça de montagem", assemblies_part, class: "btn btn-info btn-sm" %>
    </p>
  <% end %>
</div>
