

<div class="text-center">
  <h1 class="mb-4">Novas Peças de Montagens</h1>

  <%= render "form", assemblies_part: @assemblies_part %>

  <div class="mt-3">
    <%= link_to "Voltar para Peças de Montagens", assemblies_parts_path, class: "btn btn-secondary" %>
  </div>
</div>
