<button onclick="history.back()" class="btn btn-primary btn-sm">Voltar</button>

<div class="container mt-4">
  <h5 style="background-color: #e6f7ff; padding: 5px; border-radius: 5px;">Dados do Autor</h5>

  <div class="mt-4">
    <% if @authors.present? %>
      <p><strong>ID Author:</strong> <%= @authors.id %></p>
      <p><strong>Author:</strong> <%= @authors.name %></p>
      <!-- Adicione aqui outros detalhes que deseja exibir -->
    <% else %>
      <p class="text-danger">Autor não encontrado.</p>
    <% end %>
  </div>
</div>
