<div id="<%= dom_id account %>">
  <p>
    <strong>ID:</strong>
    <%= account.supplier_id %>
  </p>

  <p>
    <strong>Número da Conta:</strong>
    <%= account.account_number %>
  </p>


  <p>
    <strong>Nome do Fornecedor:</strong>
    <%= account.supplier.present? ? account.supplier.name : "Nenhum fornecedor selecionado" %>
  </p>
  </div>
