<div class="text-center mt-3">
  <p class="alert "><%= notice %></p>
  <h1>Montagens</h1>
  <%= link_to "Nova montagem", new_assembly_path, class: "btn btn-success mt-3" %>
  <div id="assemblies" class="mx-auto">
    <% @assemblies.each do |assembly| %>
      <br>
      <%= render assembly %>
      <p>
        <%= link_to "Mostrar esta montagem", assembly, class: "btn btn-info btn-sm" %>
      </p>
    <% end %>
  </div>
</div>
