<div class="d-flex flex-column justify-content-center align-items-center vh-10 mt-50">
<h1>Editando Fornecedor</h1>
  <%= render "form", supplier: @supplier %>
  
  <div class="d-flex mt-3">
    <%= link_to "Mostrar esse fornecedor",  @supplier, class: "btn btn-info btn-sm mx-2" %> 
    <%= link_to "Voltar para fornecedores",  suppliers_path, class: "btn btn-secondary btn-sm mx-2" %>
  </div>
</div>
