
<div class="text-center mt-3">
  <p class="alert "><%= notice %></p>
  <h1>Peças</h1>
  <%= link_to "Nova Peça", new_part_path, class: "btn btn-success mt-3" %>
  <div id="parts" class="mx-auto">
    <% @parts.each do |part| %>
      <br>
      <%= render part %>
      <p>
        <%= link_to "Mostrar esta peça", part, class: "btn btn-info btn-sm" %>
      </p>
    <% end %>
  </div>
</div>
